################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/balta-desafio-may-the-fourth-2026_2-moving/CopilotIndices/17.14.1593.33849
/.vs/balta-desafio-may-the-fourth-2026_2-moving.slnx/FileContentIndex
/Desafio_2.Ai/obj/Debug/net10.0
/Desafio_2.Ai/obj
/Desafio_2.Api/obj/Debug/net10.0
/Desafio_2.Api/obj
/Desafio_2.Core/obj
/Desafio_2.Infra/obj
/Desafio_2.Ai/bin/Debug/net9.0
/Desafio_2.Core/bin/Debug/net9.0
/Desafio_2.Infra/bin/Debug/net9.0
/Desafio_2.Ai/bin/Debug/net10.0
/Desafio_2.Api/bin/Debug/net10.0
/Desafio_2.Core/bin/Debug/net10.0
/Desafio_2.Infra/bin/Debug/net10.0
